@model List<NewsListModel>
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h4 class="text-center offset-md-4 col-md-4">@Localizer["News"]</h4>
            <div class="tile-title-w-btn">
                @*                <h3 class="title"> <p><a asp-action="CreateRound" class="btn btn-primary icon-btn"><i class="fa fa-plus"></i>	</a></p></h3>
                *@
                <a type="button" class="btn btn-primary " asp-action="Create">
                    <i class="fa fa-lg fa-plus"></i> @Localizer["Add"]
                </a>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" name="sampleTable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Category</td>
                                <td>@item.Date</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-newsID="@item.ID"><i class="fa fa-lg fa-pen"></i>@Localizer["Edit"]</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-newsID="@item.ID"><i class="fa fa-lg fa-trash"></i>@Localizer["Delete"]</a>
                                    
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

